.button {
	font-size: 1em;
	font-family: var(--type-first);
	cursor: pointer;
	border: none;
	border-radius: 0.4em;
	background: #fb1;
	color: #764701;
	min-width: 8em;
	padding: 0.8em 1.2em;
	transition: 0.2s;

	&:hover:not(:disabled),
	&:focus:not(:disabled) {
		outline: none;
		box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
	}

	&:disabled {
		opacity: 0.5;
		cursor: wait;
	}
}
